@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

h1, p{
    font-family: 'Libre Baskerville', serif;
}

body{
    background-color: black;
    color: white;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    border: 5px solid white;
}

.main{
    float: left;
    width: 100%;
}
.wrapper{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
}

